:root {
    --pico-font-size: 100%;


body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 20px;
}

.nav-panel {
    display: none;
}

div.example {
    margin: 0;
}

div.example pre {
    padding: 1em;
}

.chapter-level-extent > .mini-toc {
    display: none;
}

.category-def {
    display: none;
}

.hljs {
    background: var(--pico-code-background-color);
    color: var(--pico-code-color);
}
